@font-face {
    font-family: 'Arsenal';
    src: url('/static/fonts/Arsenal-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal';
    src: url('/static/fonts/Arsenal-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal';
    src: url('/static/fonts/Arsenal-BoldItalic.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal';
    src: url('/static/fonts/Arsenal-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
